@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-big-calendar/lib/css/react-big-calendar.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-scrollbar-x {
  overflow-x: scroll;
}

.custom-scrollbar-y {
  overflow-y: scroll;
}

.custom-scrollbar-x::-webkit-scrollbar-track, .custom-scrollbar-y::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-scrollbar-x::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb, .custom-scrollbar-y::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  cursor: pointer;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb:hover, .custom-scrollbar-y::-webkit-scrollbar-thumb:hover {
  background-color: #bebebe;
}

.custom-scrollbar-x::-webkit-scrollbar-thumb:active, .custom-scrollbar-y::-webkit-scrollbar-thumb:active {
  background-color: #a3a3a3;
}


.custom-scrollbar-y::-webkit-scrollbar {
  width: 6px;
}

/* Test Calendar */
.rbc-toolbar .rbc-btn-group button {
  background-color: oklch(95.4% 0.038 75.164);
  padding: 0.25rem 1rem;
}

.rbc-toolbar .rbc-btn-group button:hover {
  background-color: oklch(90.752% 0.07743 75.407);
}

.rbc-toolbar .rbc-btn-group button.rbc-active {
  background-color: oklch(70.5% 0.213 47.604);
  color: white;
}

.rbc-toolbar .rbc-btn-group button.rbc-active:hover {
  background-color: oklch(64.6% 0.222 41.116);
  color: white
}

.rbc-toolbar-label {
  color: oklch(64.6% 0.222 41.116);
  font-size: 30px;
  font-weight: bold;
}

.rbc-header {
  background-color: oklch(95.4% 0.038 75.164);
  border-radius: 4px;
}

.rbc-month-header {
  gap: 2px;
}

.rbc-month-view {
  gap: 2px;
  border: none
}

.rbc-month-row + .rbc-month-row{
  border-top: none;
}

.rbc-row-bg {
  gap: 2px
}

.rbc-month-row .rbc-row-content .rbc-date-cell button {
  font-size: 24px;
  color: oklch(70.7% 0.022 261.325)
}

.rbc-month-row .rbc-row-content .rbc-date-cell.rbc-now button {
  font-size: 24px;
  font-weight: bold;
  color: oklch(64.6% 0.222 41.116)
}

.rbc-row {
  gap: 2px;
  z-index: 10;
}

.bg-wave {
  background-color: #fbfbfb;
    opacity: 1;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #fbfbfb 10px), repeating-linear-gradient(#fdecd955, #fdecd9);
}

.bg-cross {
  background-color: #f7f7f7;
    opacity: 1;
    background: radial-gradient(circle, transparent 20%, #f7f7f7 20%, #f7f7f7 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f7f7f7 20%, #f7f7f7 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#ffe5cc 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #ffe5cc 2px, #f7f7f7 2px) -1px 0;
    background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.bg-zigzag3d {
  background-color: #f7f7f7;
    opacity: 1;
    background: linear-gradient(135deg, #ffe5cc55 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #ffe5cc 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #ffe5cc55 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #ffe5cc 25%, #f7f7f7 25%) 0px 0/ 20px 20px;
  }

.bg-isomatric {
  background-color: #f7f7f7;
    opacity: 1;
    background-image: linear-gradient(30deg, #ffe5cc 12%, transparent 12.5%, transparent 87%, #ffe5cc 87.5%, #ffe5cc), linear-gradient(150deg, #ffe5cc 12%, transparent 12.5%, transparent 87%, #ffe5cc 87.5%, #ffe5cc), linear-gradient(30deg, #ffe5cc 12%, transparent 12.5%, transparent 87%, #ffe5cc 87.5%, #ffe5cc), linear-gradient(150deg, #ffe5cc 12%, transparent 12.5%, transparent 87%, #ffe5cc 87.5%, #ffe5cc), linear-gradient(60deg, #ffe5cc77 25%, transparent 25.5%, transparent 75%, #ffe5cc77 75%, #ffe5cc77), linear-gradient(60deg, #ffe5cc77 25%, transparent 25.5%, transparent 75%, #ffe5cc77 75%, #ffe5cc77);
    background-size: 20px 35px;
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;
}